.group-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.group-list-header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.group-list-header-container button {
    height: fit-content;
}
form button {
    margin-left: 15px;
}
.just-betw-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}