<section *ngIf="lesson">
    <div class="entity-header">
        <div class="entity-avatar">
            <i class="fas fa-book-open fa-3x"></i>
        </div>
        <div class="header-info">
            <div class="header-info-block">
                <h4>{{lesson.title}}</h4>
            </div>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab label="Statistic">
            <div class="tab-container">
                <app-lesson-stat [lesson]="lesson"></app-lesson-stat>
            </div>
        </mat-tab>
        <mat-tab label="Groups">
            <div class="tab-container">
                <app-lesson-groups [lesson]="lesson"></app-lesson-groups>
            </div>
        </mat-tab>
        <mat-tab label="Teachers">
            <div class="tab-container">
                <app-lesson-teachers [lesson]="lesson"></app-lesson-teachers>
            </div>
        </mat-tab>
        <mat-tab label="Settings">
            <div class="tab-container">
                <app-lesson-settings (settingsChanged)="getLesson()" [lesson]="lesson"></app-lesson-settings>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>