<section *ngIf="student">
  <h3>Mark statistic</h3>
  <div>
    <ul>
      <li>Average mark: {{averageMark}}</li>
      <li>Number of passes: {{missings}}</li>
      <li *ngIf="bestSubjectRating">Best subject: <a
          routerLink="/lessons/{{bestSubjectRating.lessonId}}">{{bestSubjectRating.lessonId}}</a>({{bestSubjectRating.rating}})
      </li>
      <li *ngIf="worstSubjectRating">Worst subject: <a
          routerLink="/lessons/{{worstSubjectRating.lessonId}}">{{worstSubjectRating.lessonId}}</a>({{worstSubjectRating.rating}})
      </li>
    </ul>
  </div>
</section>