<section *ngIf="student">
    <h3>Mark statistic</h3>
    <div>
      <p><strong>Average mark:</strong> {{averageMark}}</p>
      <p><strong>Student productivity for week:</strong> {{productivity}}</p>
      <p *ngIf="bestSubjectRating"><strong>Best subject: </strong><a routerLink="/lessons/{{bestSubjectRating.id}}">{{bestSubjectRating.title}}</a>({{bestSubjectRating.rating}})</p>
      <p *ngIf="worstSubjectRating"><strong>Worst subject: </strong><a routerLink="/lessons/{{worstSubjectRating.id}}">{{worstSubjectRating.title}}</a>({{worstSubjectRating.rating}})</p>
    </div>
</section>