.fields-container {
    display: flex;
    flex-wrap: wrap;
}
.settings-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.settings-container > form {
    width: 100%;
}
.fields-container > mat-form-field {
    margin: 0 10px;
}
.action-buttons-container {
    width: 100%;
    display: flex;
    margin-top: 5px;
    padding: 15px 10px 0 10px;
    justify-content: space-between;
    border-top: 1px #808080 solid;
}