<section *ngIf="teacher" class="user-block">
    <div class="block-header">
        <div class="user-avatar">
            <i class="fas fa-user-tie fa-3x"></i>
        </div>
        <div class="header-info">
            <h4>{{teacher.user.firstName + ' ' + teacher.user.lastName + ' ' + (teacher.user.patronymic ? teacher.user.patronymic : '')}}
            </h4>
            <p><em>{{teacher.user.email}}</em></p>
            <p>Position: <em>{{teacher.position}}</em></p>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab label="General">
            <div class="tab-container">
                <p>{{'First Name: ' + teacher.user.firstName}}</p>
                <p>{{'Last Name: ' + teacher.user.lastName}}</p>
                <p *ngIf="teacher.user.patronymic">{{'Patronymic: ' + teacher.user.patronymic}}</p>
                <p>{{'Email: ' + teacher.user.email}}</p>
                <p>{{'Phone: ' + teacher.user.phoneNumber}}</p>
                <p>{{'Department: ' + teacher.user.department}}</p>
                <p>{{'Position: ' + teacher.position}}</p>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Statistic">
            <div class="tab-container">
                STATISTIC
            </div>
        </mat-tab> -->
        <mat-tab label="Journal">
            <div class="tab-container">
                <app-journal [teacher]="teacher"></app-journal>
            </div>
        </mat-tab>
        <mat-tab label="Schedule">
            <div class="tab-container">
                <app-teacher-schedule (selectedDayPair)="selectedDayPair = $event" [teacher]="teacher">
                </app-teacher-schedule>
                <div class="invisible-divider"></div>
                <app-schedule-settings (detailUpdated)="getTeacher()" [teacher]="teacher" [dayPair]="selectedDayPair"></app-schedule-settings>
            </div>
        </mat-tab>
        <mat-tab label="Lessons">
            <div class="tab-container">
                <app-teacher-lessons [teacher]="teacher"></app-teacher-lessons>
            </div>
        </mat-tab>
        <mat-tab label="Settings">
            <div class="tab-container">
                <app-teacher-settings (settingsChanged)="getTeacher()" [teacher]="teacher"></app-teacher-settings>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>